<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>悦买车</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
	<link rel="stylesheet" href="/Mobile/Content/css/mobs.css">
	<link rel="stylesheet" href="/Mobile/Content/css/mobs-user.css">
	<link rel="stylesheet" href="/Mobile/Content/css/font-awesome.css">
</head>

<body class="mobs-ios mobs-ios-8 default">
	<header class="mobs-header">
		<div class="mobs-button left"><a href="UserIndex.html">返回</a></div>
		<div class="mobs-title">我的订单</div>
		<div class="mobs-button right"><i class="fa fa-navicon"></i></div>
	</header>
	<main class="mobs-main">
		<a id="skip-main"></a>
		<section class="mobs-content">
			<div class="HD-top-banner">
				<a href="#"><img class="img-response" src="/Mobile/Content/images/ggw1.jpg" alt="广告位"></a>
			</div>
			<div class="user user-order">
				<ul class="order-filter lists">
					<li>
						<input id="orderAll" name="userOrder" type="radio" ng-model="orderAll" checked>
						<label for="orderAll">全部订单</label>
					</li>
					<li>
						<input id="orderNoneUsed" name="userOrder" type="radio" ng-model="orderNoneUsed">
						<label for="orderNoneUsed">未用订单</label>
					</li>
					<li>
						<input id="orderOutDated" name="userOrder" type="radio" ng-model="orderOutDated">
						<label for="orderOutDated">过期订单</label>
					</li>
			</div>
			<table class="order-table">
				<tbody>
					<tr>
						<td><img src="/Mobile/Content/images/"></td>
						<td>
							<h2 class="order-title">嘉实多极护</h2>
							<p class="order-description">5W-40全合成机油+机滤+工时费</p>
							<p><span class="order-count">数量：1</span><span class="order-price">总价：530.00元</span><span class="order-date">2015-10-15</span></p>
						</td>
						<td>未使用</td>
					</tr>
				</tbody>
			</table>
			</div>
		</section>
		<aside class="mobs-menu">
			<menu class="menu-content">
				<li><a href="index.html">页面1</a></li>
				<li><a href="mobs-2.html">页面2</a></li>
				<li><a href="mobs-3.html">页面3</a></li>
				<li><a href="mobs-4.html">页面4</a></li>
				<li><a href="mobs-5.html">页面5</a></li>
			</menu>
		</aside>
	</main>
	<footer class="mobs-footer">
		<div class="mobs-content">
			<ul class="mobs-nav lists clearfix">
				<li>
					<a href="index.html"><img src="/Mobile/Content/images/footer-nav-item-1.svg">
						<span>主页</span></a>
				</li>
				<li>
					<a href="#"><img src="/Mobile/Content/images/footer-nav-item-2.svg">
						<span>活动</span></a>
				</li>
				<li>
					<a href="baoxian.html"><img src="/Mobile/Content/images/footer-nav-item-3.svg">
						<span>保险</span></a>
				</li>
				<li>
					<a href="UserIndex.html"><img src="/Mobile/Content/images/footer-nav-item-4.svg">
						<span>用户</span></a>
				</li>
			</ul>
		</div>
	</footer>
</body>

</html>
